/* Background pattern from Subtle Patterns */
body{

background-image: url("../images/regal.png");
	font-family: 'Tangerine', cursive;
}
.container{
	background-image: url("../images/United_States_Declaration_of_Independence.png");
	background-size: cover;
	height: 900px;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
h1{
	font-size: 5em;
	text-align: center;
}
#hangmanWord{
	text-align: center;
}
.jumbotron{
	background-image: url("../images/concrete_seamless.png ");
	width: 80%;
	margin: auto;

}
header{
	height: 250px;
}
h2,p{
	font-size: 3em;
	white-space: pre-line;
}
